body
{
  background:rgb(255, 255, 255);
  font-family:sans-serif;
}
h1, h2, p
{
  color:rgb(100, 100, 100);
}
input
{
  width:3em;
}
button, input, select
{
  background:rgb(255, 255, 255);
  border:3px solid rgb(100, 100, 100);
  font-size:1.2em;
  color:rgb(100, 100, 100)
}
.containers
{
  width:25%;
  margin:20px;
  padding:10px;
}
#containerInfo
{
  border:5px solid rgb(100, 100, 100); 
}
#container1 button,#container1 input
{
  color:rgb(50, 101, 50)
  border:3px solid rgb(50, 101, 50);
}
#container1 p     
{
  color:rgb(50, 101, 50);
}
#container1
{
  border:5px solid rgb(50, 101, 50);
}
#container2 button,#container2 input
{
  color:rgb(50, 50, 162);
  border:3px solid rgb(50, 50, 162);
}
#container2 p
{
  color:rgb(50, 50, 162);
}
#container2
{
  border:5px solid rgb(50, 50, 162);
}
#container3 button,#container3 input
{
  color:rgb(50, 126, 203);
  border:3px solid rgb(50, 126, 203);
}
#container3 p
{
  color:rgb(50, 126, 203);
}
#container3
{
  border:5px solid rgb(50, 126, 203);
}
.results
{
  color:rgb(100, 100, 100);
}
