body
      {
        background:rgb(255, 255, 255);
        font-family:sans-serif;
      }
      h1, h2, p
      {
        color:rgb(150, 150, 150);
      }
      input
      {
        width:3em;
      }
      button, input, select
      {
        background:rgb(150, 150, 150);
        border:rgb(150, 150, 150);
        font-size:1.2em;
        color:rgb(255, 255, 255);
      }
      #container1 button, #container1 input
      {
        background:rgb(0, 51, 0);
        border:1px solid rgb(0, 51, 0);
      }
      #container1 p{
        color:rgb(0, 51, 0);
      }
      #container1{
        float:left;
        width:28%;
        border:3px solid rgb(0, 51, 0);
        margin:10px;
        padding:10px;
      }
      #container2 button,#container2 input
      {
        background:rgb(0, 0, 112);
        border:1px solid rgb(0, 0, 112);
      }
      #container2 p
      {
        color:rgb(0, 0, 112);
      }
      #container2
      {
        float:left;
        width:28%;
        border:3px solid rgb(0, 0, 112);
        margin:10px;
        padding:10px;
      }
      #container3 button,#container3 input
      {
        background:rgb(0, 76, 153);
        border:1px solid rgb(0, 76, 153);
      }
      #container3 p
      {
        color:rgb(0, 76, 153);
      }
      #container3
      {
        float:left;
        width:28%;
        border:3px solid rgb(0, 76, 153);
        margin:10px;
        padding:10px;
      }
      .results
      {
        color:rgb(150, 150, 150);
      }
