circle
  {
      cx:350;
      cy:350;
      stroke:#99cc00;/*dd6666*/
      stroke-width:15;
      fill:#ffe699;/*cccccc*/
  }
  text
  {
    font-size:65px;
      fill:#0000cc;
  }
  .tall
  {
  font-size:80px;
  }
